[Unit]
Description=WeatherStationServer

[Service]
ExecStart=/usr/local/bin/julia /home/pi/.julia/dev/WeatherStation/examples/run_server.jl
WorkingDirectory=/home/pi/.julia/dev/WeatherStation/examples
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi
Environment=WEATHERSTATION_DIR=/home/pi/.julia/dev/WeatherStation/examples


[Install]
WantedBy=multi-user.target