[Unit]
Description=WeatherStation

[Service]
ExecStart=/home/pi/.julia/dev/WeatherStation/examples/getdata.sh
WorkingDirectory=/home/pi/.julia/dev/WeatherStation/examples
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target